.welcomeContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
